.section-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.6) 100%), url('./assets/bg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  
  height: 90vh;
  width: 100vw;
  
  
}